@import "colors";

section img {
  width: 10%;
}

fieldset {
  height: 100vh;
  border: none;

  .form-layout {
    .back-arrow {
      padding: 2em 0 0 2em;
      // border-radius: 50%;
      // box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    }

    // hr {
    //   height: 1px;
    //   width: 80vw;
    //   border: none;
    //   background: -webkit-gradient(
    //     linear,
    //     0 0,
    //     100% 0,
    //     from(transparent),
    //     to(transparent),
    //     color-stop(50%, $darkgreen)
    //   );
    //}
  }

  .basket-empty {
    text-align: center;
    padding: 2em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 3em;
    }
  }

  .button-basic {
    background-color: $darkgreen;
    color: $white;
    border: none;
    border-radius: 2em;
    padding: 1em 6em;
    text-align: center;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    font-family: "Special Elite", cursive;
    font-size: 1.3em;
    opacity: 0.75;
    width: 100%;
  }
}

.form-header {
  background-color: $darkbrown;
  // height: 5em;
  width: 100vw;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  color: $white;
  padding: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .beer-basket {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    img {
      width: 20%;
    }

    p {
      font-family: "Special Elite", cursive;
      font-size: 3em;
    }
  }
}
.menu-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  width: 100%;

  h2 {
    font-size: 2.5em;
  }
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* align-self: center; */
  height: 100vh;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  color: $black;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $darkgreen;
    padding-bottom: 5vh;

    h2 {
      font-size: 2em;
    }

    .menu-info {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .menu-price {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }

    .menu-price .button-group {
      width: 100%;
    }

    .button-remove {
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;

      p {
        font-size: 0.6em;
      }
    }

    .menu-price h3 {
      font-size: 2em;
    }
  }

  h2,
  h3 {
    text-align: center;
  }

  img {
    width: 30%;
  }

  .beer-image {
    border-radius: 50%;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    border: 1px solid $darkbrown;
  }

  .button-basic {
    background-color: $darkgreen;
    color: $white;
    border: none;
    border-radius: 2em;
    padding: 1em 6em;
    text-align: center;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    font-family: "Special Elite", cursive;
    font-size: 1.3em;
    opacity: 0.75;
    width: 100%;
  }

  .button-topthree {
    opacity: 0.5;
  }

  .button-group {
    display: flex;
    background-color: $darkbrown;
    color: white;
    border: none;
    border-radius: 2em;
    padding: 0em 1em;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    justify-content: space-between;
    align-items: center;
    width: 35%;

    .button-amount {
      color: $white;
      border: none;
      background-color: transparent;
      color: white;
      border: none;
      /* padding: 1em; */
      font-family: "Raleway", sans-serif;
      font-size: 1.5em;
      margin: 0.5em;
    }

    p {
      font-family: "Special Elite", cursive;
      font-size: 1.5em;
    }
  }
}
